#title-div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    font-size: 2rem;
    margin: 5rem auto;
}

#title-div a {
    font-size: 1rem;
}

div > div {
    display: flex;
    align-items: start;
    gap: 10px; 
    margin-right: 20px;
}

#title, #title-about {
    margin: 0;
    text-align: start;
}

#title-logo {
    height: 10rem;
    width: auto;
}

#title {
    text-align: start;
}

#title-navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#coin-description {
    padding: 20px;
    line-height: 1.5;
    max-width: 800px;
    margin: 5rem auto;
    text-align: center;
    font-size: 1rem;
}

#coin-description a {
    color: var(--accent-color);
    text-decoration: none;
    font-size: 16px;
}

#coin-description a:hover {
    text-decoration: underline;
}

#market-data {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    padding: 20px;
    border-radius: 8px;
}

.data-item {
    display: flex;
    justify-content: space-between;
}

.label {
    font-weight: bold;
    font-size: var(--font-size-base);
}

.value {
    color: var(--accent-color);
}

#price-chart-container {
    margin: 0 auto;
    width: 90%;
    height: auto;
}

#price-chart {
    width: fit-content;
    height: auto;
}

#add-to-portfolio {
    padding: 20px;
    border: 1px solid var(--secondary-color);
    margin: 10px 0;
}

#add-to-portfolio .data-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#add-to-portfolio .data-item label {
    width: 100px;
}

#add-to-portfolio .data-item input {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
}

#add-to-portfolio #add-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: #fff;
    cursor: pointer;
}

#add-to-portfolio #add-button:hover {
    background-color: #555;
}

#add-to-portfolio .data-item input {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    text-align: end;
    font-size: var(--font-size-base);
    font-family: var(--font-family-base);
    color: var(--accent-color);
    background-color: var(--tetriary-color);
    appearance: none; 
    -moz-appearance: textfield; 
}

#add-to-portfolio .data-item input::-webkit-outer-spin-button,
#add-to-portfolio .data-item input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

footer {
    margin: auto;
    margin-top: 2em;
    padding: 10px 0px;
    width: 100%;
    display: flex;
}

footer a, footer p {
    font-size: 1rem;
}

.footer-holder div {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 768px) {

    body {
        font-size: large;
    }

#market-data {
    display: flex;
    flex-direction: column;
    font-size: large;
}

#market-data span {
    font-size: large;
}

#add-to-portfolio {
    margin: 0 auto;
    width: 90%;
}

#title-div {
    margin-top: 4em;
    flex-direction: column;
}

.footer-holder {
    flex-direction: column;
}

}