#navigation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    z-index: 500;
    max-width: 1200px;
    background-color: var(--primary-color);
}


body {
    /* display: flex;
    justify-content: center; /* Center horizontally */
    /* /* align-items: center  */
}


#navigation a {
    margin: 0 10px;
}

#logo-container {
    display: flex;
    align-items: center;
}

#page-logo {
    width: 40px;
    height: auto;
    margin-right: 20px;
}

#page-name {
    margin: 0;
    font-style: normal;
}

#middle-links {
    display: flex;
    flex-direction: row;
    order: 0;
}

#search-container {
    margin: 5em;
    text-align: center;
    padding: 2em;       
    justify-content: center;
}

#search-about {
    margin: auto;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;

}

.search-box-container {
    margin: 3em auto;
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center;
    position: relative; 
    gap: 15px;
}

.round-search-box {
    width: 55%;
    max-width: 1500px;
    height: 44px;
    border: 1px solid var(--secondary-color);
    border-radius: 22px;
    padding-left: 15px;
    padding-right: 40px;
    outline: none;
    font-size: var(--font-size-base); 
}

.round-search-box:focus {
    border-color: var(--accent-color); 
}

.search-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    outline: none;
    color: #777; 
}

#search-results {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.search-button img {
    height: 40px;
}

.search-button:hover {
    color: var(--accent-color);
}

/* #top-list-container {
    margin: 0 auto;
    max-width: 1000px;
}

#coins-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#coin {
    display: flex;
    font-size: 22px;
    align-items: center;
    justify-content: space-around;
}

#coin div {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#coin div img {
    width: 40px;
    height: 40px; 
} */

#top-list-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

#coins-info {
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

#coins-info > p {
    flex: 1; /* Make each item take equal space */
    /* margin: 10px 5px; Some margin for spacing */
    text-align: center; /* Center the text within each item */
}

#coins-info {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    justify-content: space-around;
    padding: 10px 0;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: var(--tetriary-color);
    text-align: center;
}

.coins-info > p {
    flex: 1; 
    text-align: center;
}

.coin {
    margin: 0 auto;
    width: 90%;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #e0e0e0;
    gap: 20px;
    text-align: center;
}

.coin p {
    margin: auto;
}

.coin:hover {
    background-color: var(--tetriary-color);
    cursor: pointer;
}

.coin > .rank, .coin > p, .coin > div {
    flex: 1;
    text-align: center;
}

.coin > div > img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.coin > div {
    margin: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.loginModal-content {
    background-color: var(--primary-color);
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: var(--secondary-color);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: var(--tetriary-color);
    text-decoration: none;
    cursor: pointer;
}

.profile-coins {
    margin: 0 auto;
    max-width: 1200px;
    margin: 0 auto;
}

.coin form {
    width: 100%;
    border-bottom: none;
    margin: auto;
}

.coin input {
    width: 80%;
}

footer {
    margin: auto;
    margin-top: 2em;
    padding: 10px 0px;
    width: 100%;
}

footer a, footer p {
    font-size: 1rem;
}

.footer-holder {
    margin: 10px auto;
    width: 90%;
    max-width: 1000px;
    background-color: var(--header-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h3 {
    width: 90%;
    margin: 30px auto;
}

.container {
    display: flex;
    justify-content: center; 
    align-items: center;  
    height: 100vh;        
}



@media screen and (max-width: 768px) {

#search-container {
    flex-direction: column;
    margin: 1em;
}

.coin form {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    font-size: 16px;
    justify-content: space-around;
}

.coin p {
    font-size: medium;
    width: 50%;
}

 .coin-rank, .coin-24h, .coin-volume, .coin-mktcap, .coin-price, .coin-profit, #page-name, #discover-link {
    display: none;
}
    
#navigation {
    margin: auto;
    padding: 10px 0px; 
    width: 100%;
}

.footer-holder {
    flex-direction: column;
}

#top-list-container {
    padding: 0;
}

.top-100 {
    margin: 10px auto;
    text-align: center;
}

}