.profile-content {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 20px;
    border-radius: 10px;
}

#profile-image {
    height: 10rem;
    border-radius: 50%;
    margin-right: 20px;
}

.profile-container {
    max-width: 500px;
}

.profile-container h2 {
    margin-bottom: 10px;
}

.profile-container p {
    margin: 5px 0;
}